// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#user-profile-section{
	margin-left: 0px; 
   margin-right: 0px;
}

.avatar-full {
	width: 100%;
}

#user-conversations-section{
	margin-left: 15px; 
   margin-right: 15px;
    margin-top: 10px;
}


#user-messages-section{
	margin-left: 15px; 
   margin-right: 15px;
    margin-top: 10px;
}